/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/

# Memory dumps
MemoryCaptures/

# Asset Store paketleri (Gerektiğinde tekrar indirilebilirler)
/[Aa]ssets/AssetStoreTools*

# Visual Studio / Rider / VS Code dosyaları
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svclog
*.com.apple.integ_the_same_simulator_id

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db